/**
 * app style sheet.
 * Main component that assembles the app.
 * This sheet styles how the app is formatted.
 */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containerForNameAndImage {
  display:flex;
  justify-content: center;
  align-items: center;
}

.containerForLinksToMyOtherSocialMedia{
  display:flex;
  flex-direction:row;
}

.name {
  order: 1;
}

.headshot {
  order: 2;
  height: 16em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.headshot:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.headshot.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.containerForTitleAndAboutMeAndProjectsList{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

/**
 * Needed to do individual titles. Could be refactored so that it's just one container that works for any size. 
 * Using this solution for now.
 */
.projectNameVelocity {
  padding-right:30em;
}

.projectNameRFR{
  padding-right:26em;
}

.projectNameEM{
  padding-right:26.5em;
}

.projectNameLinks{
  padding-right:30.5em;
}

.projectNameConnectWithMe{
  padding-right:26em;
}

.projectContent {
  width: 50em;
}

.app {
  height:2em;
  width:2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.app:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.app.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.containerForProjectBox {
  display:flex;
  flex-direction: column;
  align-items:center;
}

.containerForTextBox {
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 51em;

}



.logo {
  height: 26em;
  width: 50em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/**
 * Template code.
 */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
